.container {
  overflow: hidden;
  height: 630px;
  margin-top: 15px;
}

.searchInput {
  margin: 15px 10px 2px;
  border: none;
  border-bottom: 2px solid #b8b8b8;
  width: calc(100% - 20px);
  box-sizing: border-box;
  outline: none;
  padding: 15px 10px;
  font-size: 1em;
  border-radius: 0;
}
